
* {
	font-family sans-serif, arial;
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	color:white;
}
a {
	text-decoration:none;
}
:target {
	display:block!important;
}
.container {
	width:100%;
	max-width: 1300px;
	margin: 0px auto;
	padding:0px 10px;
}

header{
	background:black;
}
.header {
	padding:6px 0px 4px 0px;
	display:flex;
}
.menu {
	margin-left: auto;
}
.menu ul {
	display: flex;
	gap: 25px;
	list-style: none;
	margin-top:14px;
}
.menu li { 
	font-weight:bold;
	}
.openicon, .closeicon {
 	display:none; 
}
/* For Mobile Version */
@media screen and (max-width: 480px) {
	#menu {
		display: none;
		position: fixed;
		left: 0px;
		background: black;
		height: 100%;
		width: 80%;
		padding: 30px;
	}	
	.openicon {
		display:block;
		position: relative;
		float: right;
		font-size: 34px;
		right: 8px; 
		font-weight: bold;
	}
	.closeicon {
		display:block;
		float:right;
		font-size: 30px; 
	}
	#menu ul {
		 display: block;
		 margin-top: 80px;
	}
	#menu ul li {
		 margin-bottom:35px;
	}
}

.w-100 {
	width:100%;
}

.banner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 20px;
	margin:40px 0px;
}

.product {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 20px 30px;
	margin:100px 0px;
}
.pro {
	border: 1px solid lightgrey;
	padding: 0px 0px 30px 0px;
	text-align: center;
	margin-bottom:20px;
}
.pro p { 
	color: black;
	font-size:18px;
    margin:5px 0px;
}
.pro b {
	color: red;
	font-size: 26px;
}
.pro strike {
    color: red;
}
.pro a {
    text-align: center;
    background: black;
    padding: 13px 60px;
    display: inline-block;
    border-radius: 100px;
    margin-top: 20px;
}

footer{
	background:black;
	padding:40px 0px;	   
}
.foot {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 60px;
	padding:20px 0px 20px 20px;
	margin:0px auto;
}
.column h3 {
	margin-bottom:25px;
}
.column p{
	line-height:28px;
}
.column table td{
	padding:10px 0px; 
}
.column li {
	margin-bottom:15px;
	list-style-type: disclosure-closed;
}
